%p#notice= notice

%p
  %strong Title:
  = @blog_entry.title
%p
  %strong Content:
  = @blog_entry.content
%p
  = image_tag(@blog_entry.photo_url(:thumb)) if @blog_entry.photo?

= link_to 'Edit', edit_blog_entry_path(@blog_entry)
|
= link_to 'Back', blog_entries_path